TheHive2Cape
{
  "active": false,
  "connections": {
    "report status": {
      "main": [
        [
          {
            "node": "reported true/error false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reported true/error false": {
      "main": [
        [
          {
            "node": "get screenshot URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report status1": {
      "main": [
        [
          {
            "node": "reported true/error false1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reported true/error false1": {
      "main": [
        [
          {
            "node": "get screenshot file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get file": {
      "main": [
        [
          {
            "node": "submit file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create task file": {
      "main": [
        [
          {
            "node": "place report link file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "submit url": {
      "main": [
        [
          {
            "node": "create task url",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "place screenshot URL": {
      "main": [
        [
          {
            "node": "complete task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "place screenshot file": {
      "main": [
        [
          {
            "node": "complete task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get screenshot URL": {
      "main": [
        [
          {
            "node": "Move Binary url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get screenshot file": {
      "main": [
        [
          {
            "node": "Move Binary file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary file": {
      "main": [
        [
          {
            "node": "place screenshot file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary url": {
      "main": [
        [
          {
            "node": "place screenshot URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create task url": {
      "main": [
        [
          {
            "node": "place report link url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "submit url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "submit url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "place report link file": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "place report link url": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "report status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "report status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "submit file": {
      "main": [
        [
          {
            "node": "create task file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tags": {
      "main": [
        [
          {
            "node": "TheHive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tags1": {
      "main": [
        [
          {
            "node": "TheHive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-06-17T11:45:36.237Z",
  "id": "11",
  "name": "CAPE sandbox anaysis from TH",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -120,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://cape.synlogic.nl/apiv2/tasks/create/url/",
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "url",
              "value": "={{$node[\"Start\"].json[\"body\"][\"object\"][\"data\"]}}"
            },
            {}
          ]
        },
        "headerParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "submit url",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        340,
        -160
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "CAPEv2"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://cape.synlogic.nl/apiv2/tasks/status/{{$node[\"submit url\"].json[\"data\"][\"task_ids\"][0]}}/",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "report status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1080,
        -160
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "CAPEv2"
      },
      "color": "#220DD",
      "notes": "haalt status taak op"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"report status\"].json[\"data\"][\"data\"]}}",
              "value2": "reported"
            }
          ]
        }
      },
      "name": "reported true/error false",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        -330
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "update",
        "id": "={{$node[\"create task url\"].json[\"_id\"]}}",
        "updateFields": {
          "status": "Completed"
        }
      },
      "name": "complete task",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        2170,
        -340
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://cape.synlogic.nl/apiv2/tasks/status/{{$node[\"submit file\"].json[\"data\"][\"task_ids\"][0]}}/",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "report status1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "CAPEv2"
      },
      "color": "#220DD",
      "notes": "haalt status taak op"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"report status1\"].json[\"data\"][\"data\"]}}",
              "value2": "reported"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "reported true/error false1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        280
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "update",
        "id": "={{$node[\"create task file\"].json[\"_id\"]}}",
        "updateFields": {
          "status": "Completed"
        }
      },
      "name": "complete task1",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        2180,
        260
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=http://thehive:9000/api/datastore/{{$node[\"Start\"].json[\"body\"][\"object\"][\"attachment\"][\"hashes\"][0]}}?name={{$node[\"Start\"].json[\"body\"][\"object\"][\"attachment\"][\"name\"]}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "file",
        "options": {}
      },
      "name": "get file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        290,
        440
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "TheHive"
      }
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        290,
        620
      ]
    },
    {
      "parameters": {},
      "name": "NoOp2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        490
      ]
    },
    {
      "parameters": {},
      "name": "NoOp3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1590,
        -70
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "caseId": "={{$node[\"Start\"].json[\"body\"][\"rootId\"]}}",
        "title": "CAPEv2 Sandbox File Analysis",
        "status": "InProgress",
        "options": {
          "description": "mailto:rwanders@synlogic.nl\n\n",
          "owner": "n8n@thehive"
        }
      },
      "name": "create task file",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "resource": "log",
        "operation": "create",
        "taskId": "={{$node[\"create task file\"].json[\"_id\"]}}",
        "message": "=The file {{$node[\"get file\"].json[\"body\"][\"object\"][\"attachment\"][\"name\"]}} is submitted to CAPEv2 sandbox for analysis\n\n## [CHECK FULL REPORT HERE](https://cape.synlogic.nl/analysis/{{$node[\"submit file\"].json[\"data\"][\"task_ids\"][0]}})\n\n\n\n![enter image description here](https://cape.synlogic.nl/static/graphic/cape.png \"enter image title here\")",
        "startDate": "2021-06-19T14:54:51.000Z",
        "status": "InProgress",
        "options": {}
      },
      "name": "place report link file",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        850,
        440
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "resource": "log",
        "operation": "create",
        "taskId": "={{$node[\"create task url\"].json[\"_id\"]}}",
        "message": "=![png tester2](data:image/gif;base64,{{$node[\"Move Binary url\"].json[\"data\"]}})",
        "startDate": "2021-06-19T15:03:01.000Z",
        "status": "Ok",
        "options": {}
      },
      "name": "place screenshot URL",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        1970,
        -340
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "resource": "log",
        "operation": "create",
        "taskId": "={{$node[\"create task file\"].json[\"_id\"]}}",
        "message": "=\n![png tester2](data:image/gif;base64,{{$node[\"Move Binary file\"].json[\"data\"]}})",
        "startDate": "2021-06-19T15:03:01.000Z",
        "status": "Ok",
        "options": {}
      },
      "name": "place screenshot file",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        2010,
        260
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://cape.synlogic.nl/apiv2/tasks/get/screenshot/{{$node[\"submit url\"].json[\"data\"][\"task_ids\"][0]}}/0002/",
        "responseFormat": "file",
        "options": {
          "fullResponse": false
        },
        "headerParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "get screenshot URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1600,
        -340
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "CAPEv2"
      },
      "notes": "URL moet nog dynamisch gevuld worden"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://cape.synlogic.nl/apiv2/tasks/get/screenshot/{{$node[\"submit file\"].json[\"data\"][\"task_ids\"][0]}}/0004/",
        "responseFormat": "file",
        "jsonParameters": true,
        "options": {
          "fullResponse": false
        }
      },
      "name": "get screenshot file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1650,
        260
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": "CAPEv2"
      },
      "notes": "URL moet nog dynamisch gevuld worden"
    },
    {
      "parameters": {
        "setAllData": false,
        "options": {
          "encoding": "utf8",
          "keepAsBase64": true
        }
      },
      "name": "Move Binary file",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1840,
        260
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "options": {
          "encoding": "utf8",
          "keepAsBase64": true
        }
      },
      "name": "Move Binary url",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1780,
        -340
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "caseId": "={{$node[\"Start\"].json[\"body\"][\"rootId\"]}}",
        "title": "CAPEv2 Sandbox URL Analysis",
        "status": "InProgress",
        "options": {
          "description": "",
          "owner": "n8n@thehive"
        }
      },
      "name": "create task url",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        500,
        -160
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "resource": "log",
        "operation": "create",
        "taskId": "={{$node[\"create task url\"].json[\"_id\"]}}",
        "message": "=\nThe URL {{$node[\"Start\"].json[\"body\"][\"object\"][\"data\"]}}  is submitted to CAPEv2 sandbox for analysis\n\n\n### [CHECK FULL REPORT HERE](https://cape.synlogic.nl/analysis/{{$node[\"submit url\"].json[\"data\"][\"task_ids\"][0]}})\n\n\n\n\n\n![enter image description here](https://cape.synlogic.nl/static/graphic/cape.png \"enter image title here\")",
        "startDate": "2021-06-19T14:54:51.000Z",
        "status": "InProgress",
        "options": {}
      },
      "name": "place report link url",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        660,
        -160
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Start\"].json[\"body\"][\"object\"][\"dataType\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "url"
            },
            {
              "value2": "file",
              "output": 1
            },
            {
              "value2": "domain",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        60,
        160
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "id": "={{$node[\"Start\"].json[\"body\"][\"rootId\"]}}",
        "updateFields": {
          "tags": "={{$node[\"Get tags1\"].json[\"tags\"]}},CAPE sandbox Synlogic URL submitted"
        }
      },
      "name": "TheHive",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        710,
        -340
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "id": "={{$node[\"Get tags\"].json[\"_id\"]}}",
        "updateFields": {
          "tags": "={{$node[\"Get tags\"].json[\"tags\"]}},CAPE sandbox Synlogic file submitted"
        }
      },
      "name": "TheHive1",
      "type": "n8n-nodes-base.theHive",
      "typeVersion": 1,
      "position": [
        820,
        250
      ],
      "credentials": {
        "theHiveApi": "TheHive|n8n"
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        860,
        -160
      ],
      "webhookId": "8937d8b2-1cc4-426a-b7ca-ad21137f1f93"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1030,
        440
      ],
      "webhookId": "673e2dc0-5f46-48cb-abf5-2a984706183d"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://cape.synlogic.nl/apiv2/tasks/create/file/",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "file:data"
      },
      "name": "submit file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        490,
        440
      ],
      "credentials": {
        "httpHeaderAuth": "CAPEv2"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=http://thehive:9000/api/case/{{$node[\"Start\"].json[\"body\"][\"rootId\"]}}",
        "options": {}
      },
      "name": "Get tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        670,
        250
      ],
      "credentials": {
        "httpHeaderAuth": "TheHive"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=http://thehive:9000/api/case/{{$node[\"Start\"].json[\"body\"][\"rootId\"]}}",
        "options": {}
      },
      "name": "Get tags1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        520,
        -340
      ],
      "credentials": {
        "httpHeaderAuth": "TheHive"
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "2",
      "name": "production",
      "createdAt": "2021-07-04T20:26:56.326Z",
      "updatedAt": "2021-07-04T20:26:56.326Z"
    },
    {
      "id": "11",
      "name": "subflow",
      "createdAt": "2021-09-24T18:15:26.193Z",
      "updatedAt": "2021-09-24T18:15:26.193Z"
    }
  ],
  "updatedAt": "2021-09-28T19:19:01.369Z"
}
